body{
    background-image: url("../Coding Challenge DEF/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 2%;
    font-size: 80%;
    background-position: center;
    margin: 20px 250px 50px 250px; 
}
header{
    text-align: center;
}
.logo{
    height: 110px;
    width: 260px;
}
.titolo{
    color: rgb(5, 209, 5);    
}
.comandi{
    background-color: rgb(5, 209, 5);
    text-align: center;
    line-height: 45px;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
main{
    color: white;
    margin-left: 100px;
    display: inline-block;
}
.cariche{ 
    height: 20px;
    border-radius: 8%;
}
.cariche#carica1{
    background-color: yellow;
    width: 250px;
}
.cariche#carica2{
    background-color: green;
    width: 400px;
}
.cariche#carica3{
    background-color: red;
    width: 100px;
}
.monopattini{
    margin: 20px auto 20px auto;
}
p, h2{
    margin: 0;
}
h2{
    display: inline-block;
}